{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "transform-define", "./global-config.js"
    ],
    [
      "module-resolver", {
        "root": ["."],
        "alias": {
          "styles": "./styles"
        },
        "cwd": "babelrc"
    }],
    [
      "wrap-in-js", {
        "extensions": ["css$", "scss$"]
      }
    ]
  ],
  "ignore": []
}
