body {
  background-color: $bg-color;
  color: $text-color;
}

a {
  color: $link-color;
}

.btn-primary {
  background-color: $button-color;
  border-color: $button-color;
}

#nprogress .bar {
  background: #c12127;
}
